#root {
    background-color: rgb(231, 231, 231);
}

h1 {
    text-align: center;
    color: rgb(129, 129, 129);
}

.home-buttons {
    display: flex;
    justify-content: center;
    background-color: rgb(129, 129, 129);
    padding: 10px;
}

.welcome-msg {
    text-align: center;
}

.article-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.article-list {
    list-style-type: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin: 5%;
    width: 30%;
    padding: 2px 16px;
    text-align: center;
    background-color: rgb(247, 209, 229);
}

.article-list:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.articles-img {
    border-radius: 10px;
    width: 100%;
}

.single-article {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin: 5%;
    width: 60%;
    padding: 2px 16px;
    background-color: rgb(247, 209, 229);
}

.article-position {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

p {
    color: rgb(129, 129, 129);
}

h2 {
    color: rgb(129, 129, 129);
}

h3 {
    color: rgb(129, 129, 129);
}

h4 {
    color: rgb(129, 129, 129);
}

.comment-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.comment-list {
    list-style-type: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin: 2%;
    width: 30%;
    padding: 2px 16px;
}

.comment-header {
    text-align: center;
}

